/* wrap */
.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/bg.png);
    z-index: -1;
    opacity: 0.46;
}

/* login */
.login {
    max-width: 492px;
    min-width: 360px;
    margin: 0 auto;
    min-height: 100vh;
}

.login_header {
    min-width: 328px;
    padding-top: 120px;
    text-align: center;
}

.login_logo {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.login_tab {
    display: block;
    height: 33px;
    margin-top: 27px;

}

.login_tab ul {
    display: inline-block;
    padding-left: 0;
}

.login_tab ul:after {
    content: "";
    clear: both;
}

.login_tab ul li {
    position: relative;
    float: left;
    display: block;
}

.tab_btn {
    display: block;
    width: 105px;
    height: 34px;
    padding-bottom: 1px;
    color: #9fa1a7;
    text-align: center;
    border-bottom: 1px solid #e5e8eb;
    transition: all .15s linear;
    font-family: var(--popFont);
}

.tab_btn a {
    color: rgb(146, 134, 134);
    text-decoration: none;
}

.tab_btn:active,
.tab_btn:hover {
    color: #07f;
    border-bottom: 1px solid #07f;
    transition: all .2s linear;
}

.login_tab ul .tab_btn.taps {
    border-bottom: 1px solid #07f;
    color: #07f;
}

.login .login_menu {
    position: relative;
    height: 40px;
    padding-top: 12px;
    display: block;
}

.login_menu a:hover {
    color: #07f;
    transition: all .2s linear;
}

.login_logo span,
.signup_logo span {
    color: #17191d;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.125rem;
}

.login_logo span:nth-child(1),
.signup_logo span:nth-child(1) {
    font-size: 42px;
    color: #4285f4;
}

.login_logo span:nth-child(2),
.login_logo span:nth-child(6),
.signup_logo span:nth-child(2),
.signup_logo span:nth-child(6) {
    color: #ea4335;
}

.login_logo span:nth-child(3),
.signup_logo span:nth-child(3) {
    color: #fbbc05;
}

.login_logo span:nth-child(4),
.signup_logo span:nth-child(4) {
    color: #4285f4;
}

.login_logo span:nth-child(5),
.signup_logo span:nth-child(5) {
    color: #34a853;
}

.login_container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
}

.signup_text {
    display: block;
    height: 40px;
    padding-top: 12px;
    position: relative;
    text-align: center;
}

.signup_text a {
    color: #7a7e86;
    font-family: var(--popFont);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.6px;
    transition: all .15s linear;
    vertical-align: initial;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid #7a7e86;
}

.signup_text a:hover {
    color: #07f;
    transition: all .2s linear;
}

/* signup */
.signup_container {
    max-width: 492px;
    min-width: 360px;
    margin: 0 auto;
    min-height: 100vh;
}

.signup_logo {
    min-width: 328px;
    padding-top: 120px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--korFont);
}

.signup_container .file_label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    justify-content: center;
    border: 1px solid #e5e8eb;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.15s all linear;
}

.signup_container .file_label:hover,
.signup_container .file_label:focus {
    background: #4285f4;
    color: #FFF;
}

.signup_container .file_label img {
    width: 35px;
    height: 35px;
}

.signup_bt {
    padding-top: 12px;
    font-size: 14px;
}

.login_click {
    color: #07f;
}