.nav_bar {
    height: 82px;
    background: #181818;
    padding: 12px;
    transition: 0.15s all linear;
    color: #FFEFFF;
}

.user_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
}

.user_form .user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user img {
    width: 55px;
    height: 55px;
    border-radius: 40%;
    object-fit: cover;
}

.name {
    margin-bottom: 0;
    font-size: clamp(15px, 2vw, 17px);
    color: #FEFEFE;
    border-radius: 6px;
    letter-spacing: 0.035rem;
}

.user span {
    font-size: clamp(14px, 1.8vw, 15px);
    letter-spacing: 0.025rem;
    font-family: var(--korFont);
}

.signOut {
    color: #FEFEFE;
    letter-spacing: 0.045rem;
    font-size: clamp(14px, 2vw, 15px);
    padding: 9px 18px;
    transition: all 0.15s linear;
    border-radius: 6px;
}

.signOut:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    background: #FEFEFE;
    color: #181818;
}


.signout_modal {
    position: absolute;
    top: 50%;
    left: -100%;
    width: 100%;
    transform: translate(-20%, -50%) rotate(120deg);
    transition: 0.55s all linear;
}

.signout_modal.logOut_Modal {
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background: transparent;
    background: #ffffff;
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, .3);
    border-radius: 3px;
    overflow: hidden;
}

.signout_modal .modal_box {
    width: 100%;
}

.modal_top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    letter-spacing: 0.12rem;
    padding: 3rem 0;
}

.modal_top h1,
.modal_top span {
    font-size: 2rem;
    color: #ea4335;
    margin: 0;
}

.modal_top h1 {
    font-size: 1.5rem;
}

.signout_modal .boxs {
    width: 100%;
    padding: 1.2rem 0.75rem;
}

.modal_center {
    /* height: 100px; */
}

.modal_center ul {
    padding: 1.5rem 1rem;
    display: flex;
    flex-flow: column;
    gap: 0.75rem;
    margin: 0;
}

.modal_center ul li a {
    text-decoration: none;
    color: #807e7e;
}

.modal_center,
.signout_modal .boxs {
    background: #F9F9FB;
}

.signout_modal .boxs {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.signout_modal .boxs button {
    width: 40%;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: transparent;
    color: #807e7e;
    border: 1px solid #d6dceb;
}

.signout_modal .boxs button:nth-child(1) {
    background: #ED344E;
    color: #fff;
}

.signout_modal .boxs button:hover {
    background: transparent;
    color: #030303;
}


@media screen and (max-width: 564px) {
    .nav_bar {
        height: 76px;
        padding: 8px;
    }

    /* 로그아웃 */
    .signout_modal.logOut_Modal {
        width: 95%;
        border-radius: 12px;
    }
}