.nav_bar {
    display: flex;
    align-items: center;
    height: 82px;
    background: #333;
    padding: 12px;
    justify-content: space-between;
    transition: 0.25s all linear;
    color: #FFEFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    transition: 0.15s all linear;
}

.logo {
    display: block;
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    /* object-fit: cover; */
}

.info .user_form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 500;
}

.info .name {
    padding: 0.22rem;
    font-size: 0.95rem;
    display: inline-block;
    border-radius: 6px;
    font-family: var(--korFont);
}

.info .signOut {
    background: #030303;
    border-radius: 6px;
    color: #fff;
    font-size: 0.65rem;
    padding: 6px 12px;
    font-weight: 600;
    letter-spacing: 0.07rem;
    transition: 0.25s all linear;
}

.info .signOut:hover {
    background: transparent;
    color: #181818;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}


.signout_modal {
    position: absolute;
    top: 50%;
    left: -100%;
    width: 100%;
    transform: translate(-20%, -50%) rotate(120deg);
    transition: 0.55s all linear;
}

.signout_modal.logOut_Modal {
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background: transparent;
    background: #ffffff;
    box-shadow: 4px 4px 6px 1px rgba(0,0,0,.3); 
    border-radius: 20px;
    overflow: hidden;
}

.signout_modal .modal_box {
    width: 100%;
}

.modal_top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 80px;
    display:flex; 
    align-items:center;
    justify-content:center;
    margin-bottom: 0;
    background: #07f;
    letter-spacing: 0.12rem;
}

.alert_btn {
    width: 100%;
    color: red; 
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    font-size: 1.5rem;
}

.signout_modal .boxs {
    width: 100%;
    height: 56px;
}

.signout_modal .boxs button {
    width: 50%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.2rem;
    background: rgb(230, 105, 91);
}

.signout_modal .boxs button:nth-child(1) {
    background: rgb(109, 207, 109);
    border-right:1px solid #d6dceb
}

.signout_modal .boxs button:hover {
    background: transparent;
    color: #030303;
}


@media screen and (max-width: 768px) {
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .info .name {
        font-size: 1.15rem;
        display: inline-block;
    }
}

@media screen and (max-width: 564px) {
    .nav_bar {
        display: flex;
        align-items: center;
        height: 72px;
        background: #333;
        padding: 12px;
        justify-content: space-between;
        transition: 0.25s all linear;
        color: #FFEFFF;
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    }
    
    .logo {
        display: block;
        padding: 0.2rem 0.6rem;
        font-size: 1rem;
    }
    
    .info {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .info .user_form {
        flex-direction: column;
        gap: 0.2rem;
    }
    
    .info img {
        width: 45px;
        height: 45px;
        object-fit: cover;
    }
    
    .info .name {
        width: 100%;
        font-size: 0.8rem;
        display: inline-flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0.24);
    }
    
    .info .signOut {
        background: #030303;
        border-radius: 6px;
        color: #fff;
        font-size: 0.65rem;
        padding: 6px 12px;
        font-weight: 600;
        letter-spacing: 0.07rem;
        transition: 0.25s all linear;
    }

/* 로그아웃 */

    .signout_modal.logOut_Modal {
        width: 95%;
        border-radius: 12px;
    }
    .modal_top {
        background: #07f;
        letter-spacing: 0.065rem;
    }
    
    .alert_btn {
        font-size: 1.12rem;
    }
    
    .signout_modal .boxs button {
        width: 50%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 1.2rem;
        background: rgb(230, 105, 91);
    }
    
    .signout_modal .boxs button:nth-child(1) {
        background: rgb(109, 207, 109);
        border-right:1px solid #d6dceb
    }
    
    .signout_modal .boxs button:hover {
        background: transparent;
        color: #030303;
    }
}