/* sidebar */
.sidebar {
    /* position: absolute;   */
    transition: 0.25s all linear;
    overflow: hidden;
    margin: auto;
    max-width: 564px;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    position: relative;
}

/* Search */
.search_container {
    overflow: hidden;
}

.search_form {
    background: #333;
    width: 100%;
    height: 56px;
    padding: 0.4rem;
}

.search_form input {
    width: 100%;
    height: 100%;
    padding: 12px 18px;
    font-size: 1rem;
    color: #FFF;
}

.side_chat {
    padding: 10px;
}

.side_chat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #FFF;
}

/* ChatList */
.user_list {
    padding: 6px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user_list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background: #FFF;
}

.chat_list {
    overflow: auto;
    height: calc(100% - 138px);
}

.list_chat {
    padding-left: 12px;
}

.list_chat span {
    font-size: 0.8rem;
}

.list_chat p {
    font-size: 0.9rem;
    margin-bottom: 0;
}

@media screen and (max-width: 564px) {
    .chat_list {
        overflow: auto;
        height: calc(100% - 128px);
    }
    .list_chat {
        padding-left: 20px;
    }
}
